{% extends "CommunityTrekk/base.html" %}

{% block main %}

    <h1> Sobre mi </h1>

    <p> Mi nombre es Axel Matias Duarte Polanco, soy argentino y tengo 33 años. Me recibí como Lic. En Administración de Empresas y me encuentro trabajando hace 13 años como Tesorero en un Sanatorio especializado en enfermedades neurológicas. Hace 2 años se despertó mi interés por la programación y decidí comenzar la carrera de Ing. en Software. A los fines de acompañar mi carrera y profundizar los conocimientos en programación opte por comenzar en Coder House el curso de Python. </p> 






{% endblock %}